{% load static %}
<!-- CARUSEL -->
	<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true" style="margin-top: 100px;">

    <ul class="uk-slider-items uk-grid">
        {% for slide in slider_list %}
        <li class="uk-width-3-4">
            <div class="uk-panel {{ slide.slider_css }}">
                <img src="{{ slide.slider_img.url }}" alt="">
                <div class="uk-position-center uk-panel"><h1>{{ slide.slider_title }}</h1></div>
            </div>
        </li>
        {% endfor %}
        <!-- <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="{% static 'images/slider2.jpg' %}" alt="">
                <div class="uk-position-center uk-panel"><h1></h1></div>
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="{% static 'images/slider3.jpg' %}" alt="">
                <div class="uk-position-center uk-panel"><h1></h1></div>
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="{% static 'images/slider4.jpg' %}" alt="">
                <div class="uk-position-center uk-panel"><h1></h1></div>
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="{% static 'images/slider5.jpg' %}" alt="">
                <div class="uk-position-center uk-panel"><h1></h1></div>
            </div>
        </li> -->
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>