{% load static %}
<!-- Counter Section -->
	<div id="counter-section" class="container-fluid no-left-padding no-right-padding counter-section">
		<!-- Container -->
		<div class="container">
			<div class="col-md-3 col-xs-6 no-padding">
				<div class="counter-box">
					<i><img src="{% static 'images/counter-ic-1.png' %}" alt="Icon" /></i>
					<span id="skill_count-1" data-skills_percent="7456"></span>
					<h4>Projects</h4>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 no-padding">
				<div class="counter-box">
					<i><img src="{% static 'images/counter-ic-2.png' %}" alt="Icon" /></i>
					<span id="skill_count-2" data-skills_percent="450"></span>
					<h4>Awards</h4>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 no-padding">
				<div class="counter-box">
					<i><img src="{% static 'images/counter-ic-3.png' %}" alt="Icon" /></i>
					<span id="skill_count-3" data-skills_percent="5426"></span>
					<h4>Ideas</h4>
				</div>
			</div>
			<div class="col-md-3 col-xs-6 no-padding">
				<div class="counter-box">
					<i><img src="{% static 'images/counter-ic-4.png' %}" alt="Icon" /></i>
					<span id="skill_count-4" data-skills_percent="5440">+</span>
					<h4>Clients</h4>
				</div>
			</div>
		</div><!-- Container /- -->
	</div><!-- Counter Section /- -->