{% load static %}
<!-- Features Section -->
			<div id="features-section" class="container-fluid no-left-padding no-right-padding features-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header">
						<h3>Функции</h3>
					</div><!-- Section Header /- -->
					<div class="features-detail">
						<div class="feature-img col-md-4">
							<img src="{{ features_1.fts_img.url }}" alt="Features" />
						</div>
						<!-- Row -->
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="features-box">
									<i class="pe-7s-way"></i>
									<h3>{{ features_1.fts_title }}</h3>
									<p>{{ features_1.fts_desc }}</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="features-box">
									<i class="pe-7s-server"></i>
									<h3>{{ features_2.fts_title }}</h3>
									<p>{{ features_2.fts_desc }}</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="features-box">
									<i class="pe-7s-config"></i>
									<h3>{{ features_3.fts_title }}</h3>
									<p>{{ features_3.fts_desc }}</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="features-box">
									<i class="pe-7s-photo"></i>
									<h3>{{ features_4.fts_title }}</h3>
									<p>{{ features_4.fts_desc }}</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="features-box">
									<i class="pe-7s-light"></i>
								<h3>{{ features_5.fts_title }}</h3>
									<p>{{ features_5.fts_desc }}</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="features-box">
									<i class="pe-7s-helm"></i>
									<h3>{{ features_6.fts_title }}</h3>
									<p>{{ features_6.fts_desc }}</p>
								</div>
							</div>
						</div><!-- Row /- -->
					</div>
				</div><!-- Container /- -->
			</div><!-- Features Section /- -->