{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Home - Prestige</title>

	<!-- Standard Favicon -->
	
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="{% static 'images//apple-touch-icon-114x114-precomposed.png' %}">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="{% static 'images//apple-touch-icon-72x72-precomposed.png' %}">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="{% static 'images//apple-touch-icon-57x57-precomposed.png' %}">	
	
	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat+Alternates:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Poppins:300,400,500,600,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Lato" rel="stylesheet"> 
		
	<!-- Library -->
    <link href="{% static 'css/lib.css' %}" rel="stylesheet">    
	
	<!-- Custom - Common CSS -->
	<link href="{% static 'css/plugins.css' %}" rel="stylesheet">
	<link href="{% static 'css/elements.css' %}" rel="stylesheet">	
	<link href="{% static 'css/rtl.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link id="color" href="{% static 'css/color-schemes/default.css' %}" rel="stylesheet"/>

	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
  <link rel="icon" href="http://fototeg.ru/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="http://fototeg.ru/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="line-scale"><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div><!-- Loader /- -->	
	
	<!-- Style Switcher -->
	<!--<div class="color-switcher" id="choose_color">
		<a href="#." class="picker_close">
			<i class="fa fa-gear fa-spin"></i>
		</a>
		<div class="style-picker">
			<h3>Select Your Style</h3>
			<div class="color-switcher-block">
				<p>Choose Colour style</p>
				<ul class="">
					<li><a href="#." class="red" id="default"><img src="{% static 'images/red.jpg' %}" alt="red"/></a></li>
					<li><a href="#." class="green" id="green"><img src="{% static 'images/green.jpg' %}" alt="green"/></a></li>
					<li><a href="#." class="skyblue" id="skyblue"><img src="{% static 'images/skyblue.jpg' %}" alt="skyblue"/></a></li>
					<li><a href="#." class="orange" id="orange"><img src="{% static 'images/orange.jpg' %}" alt="orange"/></a></li>
					<li><a href="#." class="coral" id="coral"><img src="{% static 'images/coral.jpg' %}" alt="coral"/></a></li>
					<li><a href="#." class="cyan" id="cyan"><img src="{% static 'images/cyan.jpg' %}" alt="cyan"/></a></li>
					<li><a href="#." class="khaki" id="khaki"><img src="{% static 'images/khaki.jpg' %}" alt="khaki"/></a></li>
					<li><a href="#." class="pink" id="pink"><img src="{% static 'images/pink.jpg' %}" alt="pink"/></a></li>
					<li><a href="#." class="slateblue" id="slateblue"><img src="{% static 'images/slateblue.jpg' %}" alt="slateblue"/></a></li>
					<li><a href="#." class="gold" id="gold"><img src="{% static 'images/gold.jpg' %}" alt="gold"/></a></li>
				</ul>
			</div>
		</div>
	</div>--><!-- Style Switcher /- -->
	
	<a id="top"></a>
	
	<!-- Header Section -->
	<header class="header_s">
		<!-- SidePanel -->
		<div id="slidepanel">
			<!-- Top Header -->
			<div class="container-fluid no-right-padding no-left-padding top-header">
				<!-- Container -->
				<div class="container">						
					<div class="top-left">
						<div class="lang-block">
							<select class="selectpicker" data-placeholder="Choose a Language...">
								<option value="EN">English</option>
								<option value="RU">Russian</option>
								<option value="SQ">German</option>
							</select>
						</div>
					</div>
					<div class="logo-block">
						<a href="{% url 'index' %}" title="Logo"><span>G</span>lazov</a>
					</div>
					<div class="top-right">
						<span><a href="tel:18001234567">8 (912) 874-32-56</a></span>
						<!-- <ul class="pages-dropdown">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
								<ul class="dropdown-menu">
									<li><a href="#" title="Page 1">Page 1</a></li>
									<li><a href="#" title="Page 2">Page 2</a></li>
									<li><a href="#" title="Page 3">Page 3</a></li>
								</ul>
							</li>
						</ul> -->
						<div class="search">
							<a href="javascript:void(0);" id="search" title="Search"><i class="fa fa-search"></i></a>
						</div>
					</div>
					<!-- Search Box -->
					<div class="search-box">
						<span><i class="icon_close"></i></span>
						<form><input type="text" class="form-control" placeholder="Enter a keyword and press enter..." /></form>
					</div><!-- Search Box /- -->
				</div><!-- Container /- -->
			</div><!-- Top Header /- -->
			
		</div><!-- SidePanel /- -->
		<!-- Menu Block -->
		<div class="menu-block">
			<!-- Container -->
			<div class="container">
				<!-- Ownavigation -->
				<nav class="navbar ownavigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{% url 'index' %}"><span>P</span>restige</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="{% url 'index' %}" title="Home">Главная</a></li>
							<li><a href="#features-section" title="Features">Функции</a></li>
							<li><a href="#gallery-section" title="Work">Работа</a></li>
							<li><a href="#services-section" title="Services">Сервис</a></li>
							<li class="dropdown">
								<a href="{% url 'bloges' %}" title="Blog" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="{% url 'singleblog' %}" title="Blog Single">Одиночный блог</a></li>
								</ul>
							</li>
							<li><a href="#pricing-section" title="Pricing">Цены</a></li>
							<li><a href="#team-section" title="About us">О нас</a></li>
							<li><a href="#footer-main" title="Contact Us">Контакты</a></li>
						</ul>
					</div>
					<div id="loginpanel" class="desktop-hide">
						<div class="right" id="toggle">
							<a id="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
							<a id="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
						</div>
					</div>
				</nav><!-- Ownavigation /- -->
			</div><!-- Container /- -->
		</div><!-- Menu Block /- -->
	</header><!-- Header Section /- -->
	
	<div class="main-container">

		<main class="site-main">		
			
			<!-- Features Section -->
			<div id="features-section" class="container-fluid no-left-padding no-right-padding features-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header">
						<h3>Функции</h3>
					</div><!-- Section Header /- -->
					<div class="features-detail">
						<div class="feature-img col-md-4">
							<img src="{% static 'images/features-img.jpg' %}" alt="Features" />
						</div>
						<!-- Row -->
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="features-box">
									<i class="pe-7s-way"></i>
									<h3>User-friendly Design</h3>
									<p>Where you can see our troubles are all the same. You wanna be where everybody knows Your name.</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="features-box">
									<i class="pe-7s-server"></i>
									<h3>Ready-to-use Elements</h3>
									<p>Where you can see our troubles are all the same. You wanna be where everybody knows Your name.</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="features-box">
									<i class="pe-7s-config"></i>
									<h3>Easy Customization</h3>
									<p>Where you can see our troubles are all the same. You wanna be where everybody knows Your name.</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="features-box">
									<i class="pe-7s-photo"></i>
									<h3>Cool Portfolio layouts</h3>
									<p>Where you can see our troubles are all the same. You wanna be where everybody knows Your name.</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="features-box">
									<i class="pe-7s-light"></i>
								<h3>Unique Demos</h3>
									<p>Where you can see our troubles are all the same. You wanna be where everybody knows Your name.</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="features-box">
									<i class="pe-7s-helm"></i>
									<h3>Flexible Design</h3>
									<p>Where you can see our troubles are all the same. You wanna be where everybody knows Your name.</p>
								</div>
							</div>
						</div><!-- Row /- -->
					</div>
				</div><!-- Container /- -->
			</div><!-- Features Section /- -->
			
			<!-- Gallery Section -->
			<div id="gallery-section" class="container-fluid no-left-padding no-right-padding gallery-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header">
						<h3>Digital Portfolio</h3>
					</div><!-- Section Header /- -->
					<!-- Gallery Filter -->
					<div class="gallery-category">
						<ul id="filters">
							<li><a class="active" data-filter="*" href="#" title="Show All">SHOW ALL</a></li>
							<li><a data-filter=".digital" href="#" title="Digital">Digital</a></li>
							<li><a data-filter=".branding" href="#" title="Branding">Branding</a></li>
							<li><a data-filter=".people" href="#" title="People">People</a></li>
							<li><a data-filter=".nature" href="#" title="Nature">Nature</a></li>
						</ul>
					</div><!-- Gallery Filter /- -->
				
					<!-- Gallery List -->
					<div class="gallery-list">
						<div class="col-md-4 col-xs-6 no-padding gallery-box digital">
							<div class="gallery-content">
								<i><img src="{% static 'images/gallery-1.jpg' %}" alt="Gallery" /></i>
								<span>digital</span>
								<div class="gallery-detail">
									<h3>Project Title</h3>
									<a href="#"><i class="fa fa-heart-o"></i>80 Likes</a>
									<a class="zoom" href="{% static 'images/gallery-1.jpg' %}"><i class="fa fa-expand"></i>Zoom in</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 no-padding gallery-box branding">
							<div class="gallery-content">
								<i><img src="{% static 'images/gallery-2.jpg' %}" alt="Gallery" /></i>
								<span>Branding</span>
								<div class="gallery-detail">
									<h3>Project Title</h3>
									<a href="#"><i class="fa fa-heart-o"></i>80 Likes</a>
									<a class="zoom" href="{% static 'images/gallery-1.jpg' %}"><i class="fa fa-expand"></i>Zoom in</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 no-padding gallery-box people">
							<div class="gallery-content">
								<i><img src="{% static 'images/gallery-3.jpg' %}" alt="Gallery" /></i>
								<span>people</span>
								<div class="gallery-detail">
									<h3>Project Title</h3>
									<a href="#"><i class="fa fa-heart-o"></i>80 Likes</a>
									<a class="zoom" href="{% static 'images/gallery-1.jpg' %}"><i class="fa fa-expand"></i>Zoom in</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 no-padding gallery-box nature">
							<div class="gallery-content">
								<i><img src="{% static 'images/gallery-4.jpg' %}" alt="Gallery" /></i>
								<span>nature</span>
								<div class="gallery-detail">
									<h3>Project Title</h3>
									<a href="#"><i class="fa fa-heart-o"></i>80 Likes</a>
									<a class="zoom" href="{% static 'images/gallery-1.jpg' %}"><i class="fa fa-expand"></i>Zoom in</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 no-padding gallery-box digital">
							<div class="gallery-content">
								<i><img src="{% static 'images/JuBXa6z2iOQ.jpg' %}" alt="Gallery" /></i>
								<span>digital</span>
								<div class="gallery-detail">
									<h3>Project Title</h3>
									<a href="#"><i class="fa fa-heart-o"></i>80 Likes</a>
									<a class="zoom" href="{% static 'images/JuBXa6z2iOQ.jpg' %}"><i class="fa fa-expand"></i>Zoom in</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 no-padding gallery-box branding">
							<div class="gallery-content">
								<i><img src="{% static 'images/gallery-6.jpg' %}" alt="Gallery" /></i>
								<span>Branding</span>
								<div class="gallery-detail">
									<h3>Project Title</h3>
									<a href="#"><i class="fa fa-heart-o"></i>80 Likes</a>
									<a class="zoom" href="{% static 'images/gallery-1.jpg' %}"><i class="fa fa-expand"></i>Zoom in</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 no-padding gallery-box people">
							<div class="gallery-content">
								<i><img src="{% static 'images/gallery-7.jpg' %}" alt="Gallery" /></i>
								<span>people</span>
								<div class="gallery-detail">
									<h3>Project Title</h3>
									<a href="#"><i class="fa fa-heart-o"></i>80 Likes</a>
									<a class="zoom" href="{% static 'images/gallery-1.jpg' %}"><i class="fa fa-expand"></i>Zoom in</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 no-padding gallery-box nature">
							<div class="gallery-content">
								<i><img src="{% static 'images/gallery-8.jpg' %}" alt="Gallery" /></i>
								<span>nature</span>
								<div class="gallery-detail">
									<h3>Project Title</h3>
									<a href="#"><i class="fa fa-heart-o"></i>80 Likes</a>
									<a class="zoom" href="{% static 'images/gallery-1.jpg' %}"><i class="fa fa-expand"></i>Zoom in</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 no-padding gallery-box digital">
							<div class="gallery-content">
								<i><img src="{% static 'images/gallery-9.jpg' %}" alt="Gallery" /></i>
								<span>digital</span>
								<div class="gallery-detail">
									<h3>Project Title</h3>
									<a href="#"><i class="fa fa-heart-o"></i>80 Likes</a>
									<a class="zoom" href="{% static 'images/gallery-1.jpg' %}"><i class="fa fa-expand"></i>Zoom in</a>
								</div>
							</div>
						</div>
					</div><!-- Gallery List /- -->
				</div><!-- Container /- -->
			</div><!-- Gallery Section /- -->
			
			<!-- Services Section -->
			<div id="services-section" class="container-fluid no-left-padding no-right-padding services-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header">
						<h3>What We Offer</h3>
					</div><!-- Section Header /- -->
					<!-- Row -->
					<div class="row">
						<div class="col-md-4 col-xs-6">
							<div class="srv-box">
								<i class="fa fa-briefcase"></i>
								<h3>Design Concept</h3>
								<p>Design isn't just the façade; it's the personality beneath. For some reason, design has a stigma as solely</p>
								<a href="#" title="Read More">Read More</a>
							</div>
						</div>
						<div class="col-md-4 col-xs-6">
							<div class="srv-box">
								<i class="fab fa-html5"></i>
								<h3>Front-end Coding</h3>
								<p>Users are paramount and should always be at the forefront of every decision about your site or app. De-</p>
								<a href="#" title="Read More">Read More</a>
							</div>
						</div>
						<div class="col-md-4 col-xs-6">
							<div class="srv-box">
								<i class="fa fa-file-text"></i>
								<h3>Back-end Development</h3>
								<p>Details are capable of making a 'good' design 'great'. Attention to detail in a user experience can be the difference</p>
								<a href="#" title="Read More">Read More</a>
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Services Section /- -->
			
			<!-- Build Sites Section -->
			<div id="build-section" class="container-fluid no-left-padding no-right-padding build-section">
				<!-- Container -->
				<div class="container">
					<!-- Row -->
					<div class="row">
						<div class="col-sm-6 col-xs-12">
							<div class="build-content">
								<div class="build-title">
									<h3>Build websites <span>quickly</span></h3>
									<p>Try our new Prestige Theme and enjoy it’s powerfulness</p>
								</div>
								<div class="build-detail row">
									<div class="col-xs-4">
										<div class="build-box">
											<i class="fa fa-desktop"></i>
											<h4>Install theam</h4>
										</div>
									</div>
									<div class="col-xs-4">
										<div class="build-box">
											<i class="fa fa-files-o"></i>
											<h4>Choose Demo</h4>
										</div>
									</div>
									<div class="col-xs-4">
										<div class="build-box">
											<i class="fa fa-globe"></i>
											<h4>Go Live</h4>
										</div>
									</div>
								</div>
								<a href="#" class="learn-more" title="Learn More">Learn More</a>
								<a href="#" class="purcase-now" title="Purchase now">Purchase now</a>
							</div>
						</div>
						<div class="col-sm-6 col-xs-12 build-image">
							<img src="{% static 'images/lamborghini1.png' %}" alt="Image" />
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Build Sites Section /- -->
			
			<!-- Counter Section -->
			<div id="counter-section" class="container-fluid no-left-padding no-right-padding counter-section">
				<!-- Container -->
				<div class="container">
					<div class="col-md-3 col-xs-6 no-padding">
						<div class="counter-box">
							<i><img src="{% static 'images/counter-ic-1.png' %}" alt="Icon" /></i>
							<span id="skill_count-1" data-skills_percent="7456"></span>
							<h4>Projects</h4>
						</div>
					</div>
					<div class="col-md-3 col-xs-6 no-padding">
						<div class="counter-box">
							<i><img src="{% static 'images/counter-ic-2.png' %}" alt="Icon" /></i>
							<span id="skill_count-2" data-skills_percent="450"></span>
							<h4>Awards</h4>
						</div>
					</div>
					<div class="col-md-3 col-xs-6 no-padding">
						<div class="counter-box">
							<i><img src="{% static 'images/counter-ic-3.png' %}" alt="Icon" /></i>
							<span id="skill_count-3" data-skills_percent="5426"></span>
							<h4>Ideas</h4>
						</div>
					</div>
					<div class="col-md-3 col-xs-6 no-padding">
						<div class="counter-box">
							<i><img src="{% static 'images/counter-ic-4.png' %}" alt="Icon" /></i>
							<span id="skill_count-4" data-skills_percent="5440">+</span>
							<h4>Clients</h4>
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- Counter Section /- -->
			
			<!-- Blog Section -->
			<div id="blog-section" class="container-fluid no-left-padding no-right-padding blog-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header">
						<h3>Our Blog</h3>
					</div><!-- Section Header /- -->
					<!-- Blog Carousel -->
					<div class="blog-carousel">
						<div class="col-md-12 no-padding">
							<div class="type-post">
								<div class="entry-cover">
									<a href="blog-single.html"><img src="{% static 'images/our-blog-1.jpg' %}" alt="Blog" /></a>
									<div class="post-meta">
										<a href="#"><span>18</span>June</a>
									</div>
								</div>
								<div class="entry-content">
									<div class="entry-header">
										<h3 class="entry-title"><a href="blog-single.html">Simplicity in Web Design</a></h3>
										<div class="entry-meta">
											<span><i class="fas fa-user"></i><a href="#">4 Comments</a></span>
											<span><i class="fa fa-clock-o"></i><a href="#">10 mins ago</a></span>
											<span><i class="fas fa-comment-dots"></i><a href="#">2 comments</a></span>
										</div>
									</div>
									<p>The first mate and his Skipper too will do their very best to make there is others comfortable in their tropic island.</p>
									<a href="blog-single.html">view more</a>
								</div>
							</div> 
						</div>
						<div class="col-md-12 no-padding">
							<div class="type-post">
								<div class="entry-cover">
									<a href="blog-single.html"><img src="{% static 'images/our-blog-2.jpg' %}" alt="Blog" /></a>
									<div class="post-meta">
										<a href="#"><span>18</span>June</a>
									</div>
								</div>
								<div class="entry-content">
									<div class="entry-header">
										<h3 class="entry-title"><a href="blog-single.html">Simplicity in Web Design</a></h3>
										<div class="entry-meta">
											<span><i class="fas fa-user"></i><a href="#">4 Comments</a></span>
											<span><i class="fa fa-clock-o"></i><a href="#">10 mins ago</a></span>
											<span><i class="fas fa-comment-dots"></i><a href="#">2 comments</a></span>
										</div>
									</div>
									<p>The first mate and his Skipper too will do their very best to make there is others comfortable in their tropic island.</p>
									<a href="blog-single.html">view more</a>
								</div>
							</div> 
						</div>
					</div><!-- Blog Carousel -->
				</div><!-- Container /- -->
			</div><!-- Blog Section /- -->
			
			<!-- Pricing Section -->
			<div id="pricing-section" class="container-fluid no-left-padding no-right-padding pricing-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header">
						<h3>Pricing &amp; Plans</h3>
					</div><!-- Section Header /- -->
					<!-- Row -->
					<div class="row">
						<div class="col-md-4 col-xs-6">
							<div class="pricing-box">
								<div class="price-title">
									<h3>Basic Pack <span>most popular package</span></h3>
								</div>
								<div class="price-box">
									<span class="corner-left"></span>
									<span class="corner-right"></span>
									<h4><span>123<sup>$</sup></span></h4>
								</div>
								<ul>
									<li>Any Time Services</li>
									<li>Quality and Effective</li>
									<li>Well Experienced Staff</li>
									<li>Branded Products</li>
									<li>Fasting and Time Saving</li>
								</ul>
								<a href="#" title="GET IT NOW!">GET IT NOW!</a>
							</div>
						</div>
						<div class="col-md-4 col-xs-6">
							<div class="pricing-box">
								<div class="price-title">
									<h3>Standard <span>most popular package</span></h3>
								</div>
								<div class="price-box">
									<span class="corner-left"></span>
									<span class="corner-right"></span>
									<h4><span>123<sup>$</sup></span></h4>
								</div>
								<ul>
									<li>Any Time Services</li>
									<li>Quality and Effective</li>
									<li>Well Experienced Staff</li>
									<li>Branded Products</li>
									<li>Fasting and Time Saving</li>
								</ul>
								<a href="#" title="GET IT NOW!">GET IT NOW!</a>
							</div>
						</div>
						<div class="col-md-4 col-xs-6">
							<div class="pricing-box">
								<div class="price-title">
									<h3>Premium <span>most popular package</span></h3>
								</div>
								<div class="price-box">
									<span class="corner-left"></span>
									<span class="corner-right"></span>
									<h4><span>123<sup>$</sup></span></h4>
								</div>
								<ul>
									<li>Any Time Services</li>
									<li>Quality and Effective</li>
									<li>Well Experienced Staff</li>
									<li>Branded Products</li>
									<li>Fasting and Time Saving</li>
								</ul>
								<a href="#" title="GET IT NOW!">GET IT NOW!</a>
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Pricing Section /- -->
			
			<!-- Team Section -->
			<div id="team-section" class="container-fluid no-left-padding no-right-padding team-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header">
						<h3>Our team members</h3>
					</div><!-- Section Header /- -->
					<!-- Row -->
					<div class="team-carousel">
						<div class="item">
							<div class="team-box">
								<img src="{% static 'images/team-1.jpg' %}" alt="Team" />
								<h3>Alan Dark</h3>
								<span>designer</span>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
									<li><a href="#"><i class="fab fa-snapchat-square"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="team-box">
								<img src="{% static 'images/team-2.jpg' %}" alt="Team" />
								<h3>Knox Ulmar</h3>
								<span>Finance</span>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
									<li><a href="#"><i class="fab fa-snapchat-square"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="team-box">
								<img src="{% static 'images/team-3.jpg' %}" alt="Team" />
								<h3>Jeremy Duncan</h3>
								<span>Developer</span>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
									<li><a href="#"><i class="fab fa-snapchat-square"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="item">
							<div class="team-box">
								<img src="{% static 'images/team-4.jpg' %}" alt="Team" />
								<h3>Tedd Justice</h3>
								<span>seo</span>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
									<li><a href="#"><i class="fab fa-pinterest-square"></i></a></li>
									<li><a href="#"><i class="fab fa-snapchat-square"></i></a></li>
								</ul>
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Team Section /- -->
			
		</main>
	
	</div>
	
	<!-- Footer Main -->
	<footer id="footer-main" class="container-fluid no-left-padding no-right-padding footer-main">
		<!-- Top Footer -->
		<div class="container-fluid no-left-padding no-right-padding top-footer">
			<!-- Container -->
			<div class="container">
				<div class="logo-block">
					<h3><a href="#"><img src="{% static 'images/logo.png' %}" alt="logo" /></a></h3>
					<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
					<ul>
						<li><a href="#" title="Facebook"><i class="fab fa-facebook"></i></a></li>
						<li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="#" title="Tumblr"><i class="fab fa-tumblr"></i></a></li>
						<li><a href="#" title="Vimeo"><i class="fab fa-vimeo"></i></a></li>
						<li><a href="#" title="Pinterest"><i class="fab fa-pinterest-p"></i></a></li>
					</ul>
				</div>
				<div class="row">
					<!-- Widget Contact -->
					<div class="col-md-4 col-xs-6">
						<aside class="widget widget_contact">
							<h3 class="widget-title">Contact</h3>
							<div class="contact-tab">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="#address" role="tab" data-toggle="tab"><i class="icon icon-Pointer"></i></a></li>
									<li role="presentation"><a href="#email-add" role="tab" data-toggle="tab"><i class="icon icon-Mail"></i></a></li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="address">
										<p>123, New street Chicago, Northeastern Illinois</p>
									</div>
									<div role="tabpanel" class="tab-pane" id="email-add">
										<p><a href="tel:example@mail.com">example@mail.com</a></p>
									</div>
								</div>
							</div>
						</aside>
					</div><!-- Widget Contact /- -->
					<!-- Widget Working Hours -->
					<div class="col-md-4 col-xs-6">
						<aside class="widget widget_working_hours">
							<h3 class="widget-title">Working Hours</h3>	
							<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit .</p>
							<p>mon - fri :  9.00  AM  To  5.00 PM</p>
							<p>sat - sun : 11.00  AM  To  3.00 PM</p>
						</aside>
					</div><!-- Widget Working Hours /- -->
					<!-- Widget Flicker -->
					<div class="col-md-4 col-xs-6">
						<aside class="widget widget_flickr">
							<h3 class="widget-title">Flickr Gallery</h3>
							<ul>
								<li><a href="#"><img src="{% static 'images/flicker-1.jpg' %}" alt="Flicker" /></a></li>
								<li><a href="#"><img src="{% static 'images/flicker-2.jpg' %}" alt="Flicker" /></a></li>
								<li><a href="#"><img src="{% static 'images/flicker-3.jpg' %}" alt="Flicker" /></a></li>
								<li><a href="#"><img src="{% static 'images/flicker-4.jpg' %}" alt="Flicker" /></a></li>
								<li><a href="#"><img src="{% static 'images/flicker-5.jpg' %}" alt="Flicker" /></a></li>
								<li><a href="#"><img src="{% static 'images/flicker-6.jpg' %}" alt="Flicker" /></a></li>
							</ul>
						</aside> 
					</div><!-- Widget Flicker /- -->
				</div><!-- Row /- -->
			</div><!-- Container /- -->
		</div><!-- Top Footer -->
		<!-- Bottom Footer -->
		<div class="container-fluid bottom-footer no-left-padding no-right-padding">
			<!-- Container -->
			<div class="container">
				<p><i class="fa fa-copyright"></i> 2017 Prestige Theme. All Rights Reserved</p>
			</div><!-- Container -->
		</div><!-- Bottom Footer /- -->
	</footer><!-- Footer Main /- -->
	
	<!-- JQuery v1.12.4 -->
	<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>

	<!-- Library - Js -->
	<script src="{% static 'js/lib.js' %}"></script>
	
	
	
	<!-- Library - Theme JS -->
	<script src="{% static 'js/functions.js' %}"></script>
	
</body>
</html>