{% load static %}
<!-- Services Section -->
			<div id="services-section" class="container-fluid no-left-padding no-right-padding services-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header">
						<h3>{{ off_re_title }}</h3>
					</div><!-- Section Header /- -->
					<!-- Row -->
					<div class="row">
						<div class="col-md-4 col-xs-6">
							<div class="srv-box">
								<i class="fa fa-briefcase"></i>
								<h3>{{ rtd_1_title }}</h3>
								<p>{{ rtd_1_title.rtd_desc }}</p>
								<a href="#" title="Read More">{{ rtd_1_title.rtd_button }}</a>
							</div>
						</div>
						<div class="col-md-4 col-xs-6">
							<div class="srv-box">
								<i class="fab fa-html5"></i>
								<h3>{{ rtd_2_title }}</h3>
								<p>{{ rtd_2_title.rtd_desc }}</p>
								<a href="#" title="Read More">{{ rtd_2_title.rtd_button }}</a>
							</div>
						</div>
						<div class="col-md-4 col-xs-6">
							<div class="srv-box">
								<i class="fa fa-file-text"></i>
								<h3>{{ rtd_3_title }}</h3>
								<p>{{ rtd_3_title.rtd_desc }}</p>
								<a href="#" title="Read More">{{ rtd_3_title.rtd_button }}</a>
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Services Section /- -->