{% load static %}
<!-- Pricing Section -->
	<div id="pricing-section" class="container-fluid no-left-padding no-right-padding pricing-section">
		<!-- Container -->
		<div class="container">
			<!-- Section Header -->
			<div class="section-header">
				<h3>{{ price_main_title }}</h3>
			</div><!-- Section Header /- -->
			<!-- Row -->
			<div class="row">
				<div class="col-md-4 col-xs-6">
					<div class="pricing-box">
						<div class="price-title">
							<h3>{{ price_title }}<span>{{ price_title.price_title_desc }}</span></h3>
						</div>
						<div class="price-box">
							<span class="corner-left"></span>
							<span class="corner-right"></span>
							<h4><span>{{ price_title.price_money }}<sup>$</sup></span></h4>
						</div>
						<ul>
							<li>{{ price_title.price_text_1 }}</li>
							<li>{{ price_title.price_text_2 }}</li>
							<li>{{ price_title.price_text_3 }}</li>
							<li>{{ price_title.price_text_4 }}</li>
							<li>{{ price_title.price_text_5 }}</li>
						</ul>
						<a href="#" title="GET IT NOW!">{{ price_title.price_btn }}</a>
					</div>
				</div>
				<div class="col-md-4 col-xs-6">
					<div class="pricing-box">
						<div class="price-title">
							<h3>{{ price_title_2 }}<span>{{ price_title_2.price_title_desc }}</span></h3>
						</div>
						<div class="price-box">
							<span class="corner-left"></span>
							<span class="corner-right"></span>
							<h4><span>{{ price_title_2.price_money }}<sup>$</sup></span></h4>
						</div>
						<ul>
							<li>{{ price_title_2.price_text_1 }}</li>
							<li>{{ price_title_2.price_text_2 }}</li>
							<li>{{ price_title_2.price_text_3 }}</li>
							<li>{{ price_title_2.price_text_4 }}</li>
							<li>{{ price_title_2.price_text_5 }}</li>
						</ul>
						<a href="#" title="GET IT NOW!">{{ price_title_2.price_btn }}</a>
					</div>
				</div>
				<div class="col-md-4 col-xs-6">
					<div class="pricing-box">
						<div class="price-title">
							<h3>{{ price_title_3.price_title }}<span>{{ price_title_3.price_title_desc }}</span></h3>
						</div>
						<div class="price-box">
							<span class="corner-left"></span>
							<span class="corner-right"></span>
							<h4><span>{{ price_title_3.price_money }}<sup>$</sup></span></h4>
						</div>
						<ul>
							<li>{{ price_title_3.price_text_1 }}</li>
							<li>{{ price_title_3.price_text_2 }}</li>
							<li>{{ price_title_3.price_text_3 }}</li>
							<li>{{ price_title_3.price_text_4 }}</li>
							<li>{{ price_title_3.price_text_5 }}</li>
						</ul>
						<a href="#" title="GET IT NOW!">{{ price_title_3.price_btn }}</a>
					</div>
				</div>
			</div><!-- Row /- -->
		</div><!-- Container /- -->
	</div><!-- Pricing Section /- -->