{% load static %}
<!-- Team Section -->
	<div id="team-section" class="container-fluid no-left-padding no-right-padding team-section">
		<!-- Container -->
		<div class="container">
			<!-- Section Header -->
			<div class="section-header">
				<h3>{{ team_title }}</h3>
			</div><!-- Section Header /- -->
			<!-- Row -->
			<div class="team-carousel">
				<div class="item">
					<div class="team-box">
						<img src="{{ team_info_1.team_img.url }}" alt="Team" />
						<h3>{{ team_info_1.team_name }}</h3>
						<span>{{ team_info_1.team_tag }}</span>
						<ul>
							<li><a href="{{ team_info_1.team_url }}"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="{{ team_info_1.team_url }}"><i class="fab fa-twitter-square"></i></a></li>
							<li><a href="{{ team_info_1.team_url }}"><i class="fab fa-pinterest-square"></i></a></li>
							<li><a href="{{ team_info_1.team_url }}"><i class="fab fa-snapchat-square"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="item">
					<div class="team-box">
						<img src="{{ team_info_2.team_img.url }}" alt="Team" />
						<h3>{{ team_info_2.team_name }}</h3>
						<span>{{ team_info_2.team_tag }}</span>
						<ul>
							<li><a href="{{ team_info_2.team_url }}"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="{{ team_info_2.team_url }}"><i class="fab fa-twitter-square"></i></a></li>
							<li><a href="{{ team_info_2.team_url }}"><i class="fab fa-pinterest-square"></i></a></li>
							<li><a href="{{ team_info_2.team_url }}"><i class="fab fa-snapchat-square"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="item">
					<div class="team-box">
						<img src="{{ team_info_3.team_img.url }}" alt="Team" />
						<h3>{{ team_info_3.team_name }}</h3>
						<span>{{ team_info_3.team_tag }}</span>
						<ul>
							<li><a href="{{ team_info_3.team_url }}"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="{{ team_info_3.team_url }}"><i class="fab fa-twitter-square"></i></a></li>
							<li><a href="{{ team_info_3.team_url }}"><i class="fab fa-pinterest-square"></i></a></li>
							<li><a href="{{ team_info_3.team_url }}"><i class="fab fa-snapchat-square"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="item">
					<div class="team-box">
						<img src="{{ team_info_4.team_img.url }}" alt="Team" />
						<h3>{{ team_info_4.team_name }}</h3>
						<span>{{ team_info_4.team_tag }}</span>
						<ul>
							<li><a href="{{ team_info_4.team_url }}"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="{{ team_info_4.team_url }}"><i class="fab fa-twitter-square"></i></a></li>
							<li><a href="{{ team_info_4.team_url }}"><i class="fab fa-pinterest-square"></i></a></li>
							<li><a href="{{ team_info_4.team_url }}"><i class="fab fa-snapchat-square"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="item">
					<div class="team-box">
						<img src="{{ team_info_5.team_img.url }}" alt="Team" />
						<h3>{{ team_info_5.team_name }}</h3>
						<span>{{ team_info_5.team_tag }}</span>
						<ul>
							<li><a href="{{ team_info_5.team_url }}"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="{{ team_info_5.team_url }}"><i class="fab fa-twitter-square"></i></a></li>
							<li><a href="{{ team_info_5.team_url }}"><i class="fab fa-pinterest-square"></i></a></li>
							<li><a href="{{ team_info_5.team_url }}"><i class="fab fa-snapchat-square"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="item">
					<div class="team-box">
						<img src="{{ team_info_6.team_img.url }}" alt="Team" />
						<h3>{{ team_info_6.team_name }}</h3>
						<span>{{ team_info_6.team_tag }}</span>
						<ul>
							<li><a href="{{ team_info_6.team_url }}"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="{{ team_info_6.team_url }}"><i class="fab fa-twitter-square"></i></a></li>
							<li><a href="{{ team_info_6.team_url }}"><i class="fab fa-pinterest-square"></i></a></li>
							<li><a href="{{ team_info_6.team_url }}"><i class="fab fa-snapchat-square"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="item">
					<div class="team-box">
						<img src="{{ team_info_7.team_img.url }}" alt="Team" />
						<h3>{{ team_info_7.team_name }}</h3>
						<span>{{ team_info_7.team_tag }}</span>
						<ul>
							<li><a href="{{ team_info_7.team_url }}"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="{{ team_info_7.team_url }}"><i class="fab fa-twitter-square"></i></a></li>
							<li><a href="{{ team_info_7.team_url }}"><i class="fab fa-pinterest-square"></i></a></li>
							<li><a href="{{ team_info_7.team_url }}"><i class="fab fa-snapchat-square"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="item">
					<div class="team-box">
						<img src="{{ team_info_8.team_img.url }}" alt="Team" />
						<h3>{{ team_info_8.team_name }}</h3>
						<span>{{ team_info_8.team_tag }}</span>
						<ul>
							<li><a href="{{ team_info_8.team_url }}"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="{{ team_info_8.team_url }}"><i class="fab fa-twitter-square"></i></a></li>
							<li><a href="{{ team_info_8.team_url }}"><i class="fab fa-pinterest-square"></i></a></li>
							<li><a href="{{ team_info_8.team_url }}"><i class="fab fa-snapchat-square"></i></a></li>
						</ul>
					</div>
				</div>
			</div><!-- Row /- -->
		</div><!-- Container /- -->
	</div><!-- Team Section /- -->