{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Blog - Prestige</title>

	<!-- Standard Favicon -->
	
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="{% static 'images//apple-touch-icon-114x114-precomposed.png' %}">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="{% static 'images//apple-touch-icon-72x72-precomposed.png' %}">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="{% static 'images//apple-touch-icon-57x57-precomposed.png' %}">	
	
	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat+Alternates:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Poppins:300,400,500,600,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Lato" rel="stylesheet">

	<!-- Library -->
    <link href="{% static 'css/lib.css' %}" rel="stylesheet">
	
	<!-- Custom - Common CSS -->
	<link href="{% static 'css/plugins.css' %}" rel="stylesheet"/>
	<link href="{% static 'css/elements.css' %}" rel="stylesheet"/>	
	<link href="{% static 'css/rtl.css' %}" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	<link id="color" href="{% static 'css/color-schemes/default.css' %}" rel="stylesheet"/>

	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
  <link rel="icon" href="http://fototeg.ru/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="http://fototeg.ru/favicon.ico" type="image/x-icon" />
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="line-scale"><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div><!-- Loader /- -->	
	
	<!-- Style Switcher -->
	<!--<div class="color-switcher" id="choose_color">
		<a href="#." class="picker_close">
			<i class="fa fa-gear fa-spin"></i>
		</a>
		<div class="style-picker">
			<h3>Select Your Style</h3>
			<div class="color-switcher-block">
				<p>Choose Colour style</p>
				<ul class="">
					<li><a href="#." class="red" id="default"><img src="{% static 'images/red.jpg' %}" alt="red"/></a></li>
					<li><a href="#." class="green" id="green"><img src="{% static 'images/green.jpg' %}" alt="green"/></a></li>
					<li><a href="#." class="skyblue" id="skyblue"><img src="{% static 'images/skyblue.jpg' %}" alt="skyblue"/></a></li>
					<li><a href="#." class="orange" id="orange"><img src="{% static 'images/orange.jpg' %}" alt="orange"/></a></li>
					<li><a href="#." class="coral" id="coral"><img src="{% static 'images/coral.jpg' %}" alt="coral"/></a></li>
					<li><a href="#." class="cyan" id="cyan"><img src="{% static 'images/cyan.jpg' %}" alt="cyan"/></a></li>
					<li><a href="#." class="khaki" id="khaki"><img src="{% static 'images/khaki.jpg' %}" alt="khaki"/></a></li>
					<li><a href="#." class="pink" id="pink"><img src="{% static 'images/pink.jpg' %}" alt="pink"/></a></li>
					<li><a href="#." class="slateblue" id="slateblue"><img src="{% static 'images/slateblue.jpg' %}" alt="slateblue"/></a></li>
					<li><a href="#." class="gold" id="gold"><img src="{% static 'images/gold.jpg' %}" alt="gold"/></a></li>
				</ul>
			</div>
		</div>
	</div>--><!-- Style Switcher /- -->
	
	<a id="top"></a>
	<!-- Header Section -->
	<header class="header_s">
		<!-- SidePanel -->
		<div id="slidepanel">
			<!-- Top Header -->
			<div class="container-fluid no-right-padding no-left-padding top-header">
				<!-- Container -->
				<div class="container">						
					<div class="top-left">
						<div class="lang-block">
							<select class="selectpicker" data-placeholder="Choose a Language...">
								<option value="EN">English</option>
								<option value="AF">Russia</option>
								<option value="SQ">German</option>
							</select>
						</div>
					</div>
					<div class="logo-block">
						<a href="{% url 'bloges:index' %}" title="Logo"><span>G</span>lazov</a>
					</div>
					<div class="top-right">
						<span><a href="tel:18001234567">1800-123-4567</a></span>
						<!--<ul class="pages-dropdown">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
								<ul class="dropdown-menu">
									<li><a href="#" title="Page 1">Page 1</a></li>
									<li><a href="#" title="Page 2">Page 2</a></li>
									<li><a href="#" title="Page 3">Page 3</a></li>
								</ul>
							</li>
						</ul>-->
						<div class="search">
							<a href="javascript:void(0);" id="search" title="Search"><i class="fa fa-search"></i></a>
						</div>
					</div>
					<!-- Search Box -->
					<div class="search-box">
						<span><i class="icon_close"></i></span>
						<form><input type="text" class="form-control" placeholder="Enter a keyword and press enter..." /></form>
					</div><!-- Search Box /- -->
				</div><!-- Container /- -->
			</div><!-- Top Header /- -->
			
		</div><!-- SidePanel /- -->
		<!-- Menu Block -->
		<div class="menu-block">
			<!-- Container -->
			<div class="container">
				<!-- Ownavigation -->
				<nav class="navbar ownavigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{% url 'bloges:index' %}"><span>К</span>оршунов</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="{% url 'bloges:index' %}" title="Home">Главная</a></li>
							<li><a href="{% url 'bloges:index' %}#features-section" title="Features">Функции</a></li>
							<li><a href="{% url 'bloges:index' %}#gallery-section" title="Work">Работа</a></li>
							<li><a href="{% url 'bloges:index' %}#services-section" title="Services">Сервис</a></li>
							<li class="dropdown active">
								<a href="blog.html" title="Blog" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								<ul class="dropdown-menu">
									<li><a href="#" title="Blog Single">Одиночный блог</a></li>
								</ul>
							</li>
							<li><a href="index.html#pricing-section" title="Pricing">Цены</a></li>
							<li><a href="#team-section" title="About us">О нас</a></li>
							<li><a href="#footer-main" title="Contact Us">Контакты</a></li>
						</ul>
					</div>
					<div id="loginpanel" class="desktop-hide">
						<div class="right" id="toggle">
							<a id="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
							<a id="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
						</div>
					</div>
				</nav><!-- Ownavigation /- -->
			</div><!-- Container /- -->
		</div><!-- Menu Block /- -->
	</header><!-- Header Section /- -->
	
	<div class="main-container">

		<!-- Page Banner -->
		<div class="container-fluid no-left-padding no-right-padding page-banner error-banner">
			<!-- Container -->
			<div class="container">
				<div class="page-title">
					<h3>Blog</h3>
				</div>
				<ol class="breadcrumb">
					<li><a href="{% url 'bloges:index' %}">home</a></li>
					<li><a href="#">blog</a></li>
					<li class="active">post name</li>
				</ol>
			</div><!-- Container /- -->
		</div><!-- Page Banner /- -->
		
		<main class="site-main">		
			
			<!-- Blog -->
			<div class="container-fluid no-left-padding no-right-padding blog-post">
				<!-- Container -->
				<div class="container">
					<!-- Row -->
					<div class="row">
						<!-- Content Area -->
						<div class="col-md-9 col-sm-8 content-area">
							<div class="type-post">
								<div class="entry-cover">
									<a href="blog-single.html"><img src="assets/images/blog-post-1.jpg" alt="Blog" /></a>
									<div class="post-meta">
										<a href="#"><span>18</span>June</a>
									</div>
								</div>
								<div class="entry-content">
									<div class="entry-header">
										<h3 class="entry-title"><a href="blog-single.html">Simplicity in Web Design</a></h3>
										<div class="entry-meta">
											<span><i class="fa fa-user-o"></i><a href="#">4 Comments</a></span>
											<span><i class="fa fa-clock-o"></i><a href="#">10 mins ago</a></span>
											<span><i class="fa fa-commenting-o"></i><a href="#">2 comments</a></span>
										</div>
									</div>
									<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
									<a href="blog-single.html">view more</a>
								</div>
							</div> 
							<div class="type-post">
								<div class="entry-cover">
									<a href="blog-single.html"><img src="assets/images/blog-post-1.jpg" alt="Blog" /></a>
									<div class="post-meta">
										<a href="#"><span>18</span>June</a>
									</div>
								</div>
								<div class="entry-content">
									<div class="entry-header">
										<h3 class="entry-title"><a href="blog-single.html">Simplicity in Web Design</a></h3>
										<div class="entry-meta">
											<span><i class="fa fa-user-o"></i><a href="#">4 Comments</a></span>
											<span><i class="fa fa-clock-o"></i><a href="#">10 mins ago</a></span>
											<span><i class="fa fa-commenting-o"></i><a href="#">2 comments</a></span>
										</div>
									</div>
									<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
									<a href="blog-single.html">view more</a>
								</div>
							</div> 
							<div class="type-post">
								<div class="entry-cover">
									<a href="blog-single.html"><img src="assets/images/blog-post-1.jpg" alt="Blog" /></a>
									<div class="post-meta">
										<a href="#"><span>18</span>June</a>
									</div>
								</div>
								<div class="entry-content">
									<div class="entry-header">
										<h3 class="entry-title"><a href="blog-single.html">Simplicity in Web Design</a></h3>
										<div class="entry-meta">
											<span><i class="fa fa-user-o"></i><a href="#">4 Comments</a></span>
											<span><i class="fa fa-clock-o"></i><a href="#">10 mins ago</a></span>
											<span><i class="fa fa-commenting-o"></i><a href="#">2 comments</a></span>
										</div>
									</div>
									<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
									<a href="blog-single.html">view more</a>
								</div>
							</div> 
							<div class="type-post">
								<div class="entry-cover">
									<a href="blog-single.html"><img src="assets/images/blog-post-1.jpg" alt="Blog" /></a>
									<div class="post-meta">
										<a href="#"><span>18</span>June</a>
									</div>
								</div>
								<div class="entry-content">
									<div class="entry-header">
										<h3 class="entry-title"><a href="blog-single.html">Simplicity in Web Design</a></h3>
										<div class="entry-meta">
											<span><i class="fa fa-user-o"></i><a href="#">4 Comments</a></span>
											<span><i class="fa fa-clock-o"></i><a href="#">10 mins ago</a></span>
											<span><i class="fa fa-commenting-o"></i><a href="#">2 comments</a></span>
										</div>
									</div>
									<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
									<a href="blog-single.html">view more</a>
								</div>
							</div>
							<nav class="ow-pagination">
								<ul class="pagination">
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
								</ul>
							</nav>
						</div><!-- Content Area /- -->
						
						<!-- Widget Area -->
						<div class="col-md-3 col-sm-4 widget-area">
							<!-- Widget : Search -->
							<aside class="widget widget_search">
								<form method="get" class="searchform" action="#">
									<div class="input-group">
										<input placeholder="Search Here" class="form-control" required="" type="text"/>
										<span class="input-group-btn">
											<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
										</span>
									</div>
								</form>
							</aside><!-- Widget: Search /- -->
							<!-- Widget : Categories -->
							<aside id="categories" class="widget widget_categories">
								<h3 class="widget-title">Categories</h3>
								<ul>
									<li><a href="#">Egg Fryed Rice With Vegitable</a></li>
									<li><a href="#">Grill Chickentry Foodmanjuri</a></li>
									<li><a href="#">Fishfry Apilimied Dish</a></li>
									<li><a href="#">Intepsion California Epsia</a></li>
									<li><a href="#">Soadynegth Ofriaplat Disha</a></li>
								</ul>
							</aside><!-- Widget: Categories /- -->
							<!-- Widget : Recent Post -->
							<aside class="widget widget_recentposts">
								<h3 class="widget-title">Recent POSTS</h3>
								<div class="latest-content">
									<a href="#" title="Recent Posts"><i><img src="assets/images/rcnt-1.png" class="wp-post-image" alt="blog-1"></i></a>
									<h5><a title="Pellentesque suscipit ante at" href="#">Vintage bag designs for 2017</a></h5>
									<span><a href="#">May 16, 2016</a></span>
								</div>
								<div class="latest-content">
									<a href="#" title="Recent Posts"><i><img src="assets/images/rcnt-2.png" class="wp-post-image" alt="blog-1"></i></a>
									<h5><a class="tc_dark tc_green_h" title="Pellentesque suscipit ante at" href="#">Special restaurant with nonveg porn</a></h5>
									<span><a href="#">June 09, 2016</a></span>
								</div>
								<div class="latest-content">
									<a href="#" title="Recent Posts"><i><img src="assets/images/rcnt-3.png" class="wp-post-image" alt="blog-1"></i></a>
									<h5><a title="Pellentesque suscipit ante at" href="#">fishfried Chicken Qualit anjascan food</a></h5>
									<span><a href="#">April  22, 2016</a></span>
								</div>
							</aside><!-- Widget : Recent Post -->
							<!-- Widget : Tags -->
							<aside class="widget widget_latesttweets">
								<h3 class="widget-title">Tags</h3>
								<div class="tagcloud">
									<a href="#" title="Food">food</a>
									<a href="#" title="Break fast & LUNCH">break fast & LUNCH</a>
									<a href="#" title="Drinks">Drinks</a>
									<a href="#" title="DINNER & EVENTS">DINNER & EVENTS</a>
									<a href="#" title="Serve">serve</a>
									<a href="#" title="Chef">chef</a>
									<a href="#" title="Blog">Blog</a>
								</div>
							</aside><!-- Widget : Tags /- -->
						</div><!-- Widget Area /- -->
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Blog -->
			
		</main>
		
	</div>
	
	<!-- Footer Main -->
	<footer id="footer-main" class="container-fluid no-left-padding no-right-padding footer-main">
		<!-- Top Footer -->
		<div class="container-fluid no-left-padding no-right-padding top-footer">
			<!-- Container -->
			<div class="container">
				<div class="logo-block">
					<h3><a href="#"><img src="assets/images/logo.png" alt="logo" /></a></h3>
					<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
					<ul>
						<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
						<li><a href="#" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
						<li><a href="#" title="Pinterest"><i class="fa fa-pinterest-p"></i></a></li>
					</ul>
				</div>
				<div class="row">
					<!-- Widget Contact -->
					<div class="col-md-4 col-xs-6">
						<aside class="widget widget_contact">
							<h3 class="widget-title">Contact</h3>
							<div class="contact-tab">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="#address" role="tab" data-toggle="tab"><i class="icon icon-Pointer"></i></a></li>
									<li role="presentation"><a href="#email-add" role="tab" data-toggle="tab"><i class="icon icon-Mail"></i></a></li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="address">
										<p>123, New street Chicago, Northeastern Illinois</p>
									</div>
									<div role="tabpanel" class="tab-pane" id="email-add">
										<p><a href="tel:example@mail.com">example@mail.com</a></p>
									</div>
								</div>
							</div>
						</aside>
					</div><!-- Widget Contact /- -->
					<!-- Widget Working Hours -->
					<div class="col-md-4 col-xs-6">
						<aside class="widget widget_working_hours">
							<h3 class="widget-title">Working Hours</h3>	
							<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit .</p>
							<p>mon - fri :  9.00  AM  To  5.00 PM</p>
							<p>sat - sun : 11.00  AM  To  3.00 PM</p>
						</aside>
					</div><!-- Widget Working Hours /- -->
					<!-- Widget Flicker -->
					<div class="col-md-4 col-xs-6">
						<aside class="widget widget_flickr">
							<h3 class="widget-title">Flickr Gallery</h3>
							<ul>
								<li><a href="#"><img src="{% static 'images/flicker-1.jpg' %}" alt="Flicker" /></a></li>
								<li><a href="#"><img src="{% static 'images/flicker-2.jpg' %}" alt="Flicker" /></a></li>
								<li><a href="#"><img src="{% static 'images/flicker-3.jpg' %}" alt="Flicker" /></a></li>
								<li><a href="#"><img src="{% static 'images/flicker-4.jpg' %}" alt="Flicker" /></a></li>
								<li><a href="#"><img src="{% static 'images/flicker-5.jpg' %}" alt="Flicker" /></a></li>
								<li><a href="#"><img src="{% static 'images/flicker-6.jpg' %}" alt="Flicker" /></a></li>
							</ul>
						</aside> 
					</div>
					<!-- Widget Flicker /- -->
					
				</div><!-- Row /- -->
			</div><!-- Container /- -->
		</div><!-- Top Footer -->
		<!-- Bottom Footer -->
		<div class="container-fluid bottom-footer no-left-padding no-right-padding">
			<!-- Container -->
			<div class="container">
				<p><i class="fa fa-copyright"></i> 2017 Prestige Theme. All Rights Reserved</p>
			</div><!-- Container -->
		</div><!-- Bottom Footer /- -->
	</footer><!-- Footer Main /- -->
	
	<!-- JQuery v1.12.4 -->
	<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>

	<!-- Library - Js -->
	<script src="{% static 'js/lib.js' %}"></script>
	
	<!-- Library - Theme JS -->
	<script src="{% static 'js/functions.js' %}"></script>
	
</body>
</html>